
//====================================================================================================
// DEFAULT BANNER STYLES
//====================================================================================================

.banner {
	width: 100%;
	
	//&__header {
	    
	//}
}

.home {
	.banner {
		flex: 1 0 auto; // Stretches homepage banner to fill height of <main>
	}
}


//====================================================================================================
// HOMEPAGE HERO WITH IMAGE CAROUSEL
//====================================================================================================

.hero {
	//min-height: calc(100vh - 23rem);
	padding-left: 0;
	padding-right: 0;
	position: relative;

	&__header {
		animation: fadeIn 2s ease-in $transition-delay 1 normal forwards, moveDown 2s $transition-function $transition-delay 1 normal forwards;
		opacity: 0;
		padding: 0 2rem 2rem;
		text-align: center;
		
		@media (min-width: $breakpoint-md-min) {
			padding: 0 4rem 2rem;
		}
		
		.button {
		    left: -0.7rem; // Move button left a little to account for chevron
		}
	}
}

#hero {
	&__container {
		animation: fadeIn 2s ease-in $transition-delay 1 normal forwards, moveUp 2s $transition-function $transition-delay 1 normal forwards;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		width: 100%;
	}

	&__carousel {
		img {
			max-height: 95vh;
			min-height: 28rem;
			object-fit: cover;

			@media (orientation: portrait) {
				@media (min-width: 350px) { height: calc(100vh - 36rem); }
				@media (min-width: $breakpoint-md-min) { height: calc(100vh - 42rem); }
			}

			@media (min-aspect-ratio: 1/1) { // Browser window with an aspect-ratio of 1:1 or landscape
				object-fit: contain;

				@media (max-width: $breakpoint-sm-max) { height: calc((100vw - 4rem) * 2/3); }
				@media (min-width: $breakpoint-md-min) { height: calc((100vw - 8rem) * 2/3); }
			}

			@media (min-width: $breakpoint-lg-min) { height: calc(100vh - 36rem); }
			@media (min-width: calc(#{$breakpoint-lg-min} * 2)) { height: calc(100vh - 42rem); }
		}
	}
}

/*.hero__image {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}*/

/*#hero__video {
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	height: 100%;
	object-fit: cover;
	object-position: left;
	position: absolute;
	top: 0;
	width: 100%;
}*/

// Hero background-position (tied to Fred element options)
.hero--left-top { background-position: left top; }
.hero--left-center { background-position: left center; }
.hero--left-bottom { background-position: left bottom; }
.hero--right-top { background-position: right top; }
.hero--right-center { background-position: right center; }
.hero--right-bottom { background-position: right bottom; }
.hero--center-top { background-position: center top; }
.hero--center-center { background-position: center center; }
.hero--center-bottom { background-position: center bottom; }



/*.hero__overlay {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}*/

.hero__scroll {
	animation: fadeIn 1.5s ease-in 1s 1 normal forwards, bounceDown 1s ease-in-out 3s infinite alternate;
	bottom: 4rem;
	height: 5rem;
	left: 3rem;
	opacity: 0;
	position: absolute;
	width: 5rem;

	a {
		color: $white;
		margin-left: -5px;
		padding: 25px 8px 6px;
		text-decoration: none;
		transition: 0.2s;

		[class^="icon-"] {
			font-size: 34px;
		}

		&:hover {
			color: $color-highlight;
		}
	}
}

// Small article header on blog posts
.article__header {
	left: 50%;
	margin-left: auto;
  margin-right: auto;
	max-width: 1220px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	top: 50px;
	transform: translateX(-50%);
	width: 100%;

	p {
		animation: fadeIn 1.5s ease-in 0.25s 1 normal forwards;
		color: $white;
		font: $font-weight-button $font-size-sm $font-family-heading;
		opacity: 0;
		text-shadow: 0 0 7px $color-body;
		text-transform: uppercase;
	}
}

// CHECK IF REQUIRED
.banner .link-label,.footer .link-label {
  font-size: 1.4rem;
  left: -9999px;
  position: absolute;
}



/*------------------------------------------------------------
	STYLES FOR SPECIFIC SCREEN SIZES
------------------------------------------------------------*/

// Desktop and tablet styles
@media (min-width: 600px) and (min-height: 600px) {
	//.hero {
		//height: calc(100vh - 90px);
	//}

	#hero__video {
		display: block;
	}

	.hero__scroll {
		a {
			margin-left: 15px;
		}
	}

	.article__header {
		padding-left: 40px;
		padding-right: 40px;
	}
}

// Overrides for smartphones and tablets 
@media (hover: none) and (pointer: coarse) {
	// Hide video on touch devives
	#hero__video {
		display: none;
	}

	// Lift scroll arrow to account for device menu bars
	.hero__scroll {
		bottom: 150px;

		a:hover {
			color: $white;
		}
	}
}

// Hide scroll-down arrow and article header on small and landscape smartphones
@media (max-height: 599px) and (orientation: landscape), (max-width: 359px) {
	// Hide scroll-down arrow on small and landscape smartphones
	.hero__scroll {
		a {
			opacity: 0;
		}
	}

	.article__header {
		display: none;
	}
}

// Repositioning of hero video/images top position when 'fixed' position active
@supports not (-webkit-overflow-scrolling: touch) {
	@media (min-width: 900px) {
		.hero__image {
			background-attachment: fixed;
		}
	
		#hero__video {
			position: fixed;
			top: 90px;
		}
	
		// Hero background-position (tied to Fred element options)
		.hero--left-top { background-position: left 90px; }
		.hero--left-center { background-position: left calc(50% + 45px); }
		.hero--right-top { background-position: right 90px; }
		.hero--right-center { background-position: right calc(50% + 45px); }
		.hero--center-top { background-position: center 90px; }
		.hero--center-center { background-position: center calc(50% + 45px); }
	}	
}

// Repositioning of hero video/images top position when 'fixed' position ignored on tablets
@media
	(min-device-width: 800px) and (max-device-width: 1280px),
	(min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5),
	(min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2)
{
	// Hero background-position (tied to Fred element options)
	.hero--left-top { background-position: left top; }
	.hero--left-center { background-position: left center; }
	.hero--right-top { background-position: right top; }
	.hero--right-center { background-position: right center; }
	.hero--center-top { background-position: center top; }
	.hero--center-center { background-position: center center; }
}
