/*------------------------------------------------------------
	DEFAULT STYLES
------------------------------------------------------------*/

main {
  flex: 1 0 auto;
}

.content {
	background-color: $white;
	padding: 70px 0 35px;
	position: relative;

	.row {
		> [class^='col-'] {
			display: flex;
			flex-direction: column;
		}
	}

	&:not(.article) {
		.row {
			[class^="col-"] {
				> h2:not(:only-child),
				> h3,
				> h4,
				> p,
				> ul,
				> blockquote {
					&:last-child {
						margin-bottom: 37px;
					}
				}
			}
		}
	}

	img {
		margin: 6px 0 4px;
	}

	&.article {
		padding-bottom: 45px;
	}

	.tertiary {
		height: 100%;
		padding: 135px 0 60px;

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.small.quote {
  margin: 15px 0 19px 0;
  padding-bottom: 0.2rem;
}

.night-mode {
	.content {
		background-color: $background-color-night;

		a {
			&:not(.button) {
				&:link,
				&:visited {
					span:not(.tooltip),
					span:not(.tooltip) {
						border-bottom: 5px solid $background-color-night;
					}
				}
			}

			&.info {
				border-bottom-color: $color-footer;
				color: $white;
			}
		}
	}
}



/*------------------------------------------------------------
	STYLES FOR SPECIFIC SCREEN SIZES
------------------------------------------------------------*/

@media (min-width: 600px) and (min-height: 600px) {
	.content {
    padding: 106px 0 65px;

		&:not(.article) {
			.row {
				[class^="col-"] {
					> h2:not(:only-child),
					> h3,
					> h4,
					> p,
					> ul,
					> blockquote {
						&:last-child {
							margin-bottom: 47px;
						}
					}
				}
			}
		}

		p.small {
			line-height:  calc(#{$font-size-body-large} * 1.6);
		}

		.tertiary {
			padding: 175px 0 100px;

			> .container {
				position: relative;
				top: 49%;
				transform: translateY(-50%);
			}
		}
	}

	.blog {
		.content {
			padding-top: 113px;
		}
	}

	.post {
		.content {
			padding: 109px 0 93px;
		}
	}
}









#cookies ~ h2 {
  margin-top: 4px;
}



@media only screen and (max-width: 599px) {
  .content img.height46 {
    margin-top: -4px;
  }

  .content img.height50 {
    margin-top: 0;
  }

  .content img.height52 {
    margin-top: 2px;
  }

  .content img.height54 {
    margin-top: 4px;
  }
}





@page {
  margin-bottom:25mm;margin-left:10mm;margin-right:10mm;margin-top:25mm;
}






.content .title {
  border-bottom: 1px dotted #111;
  cursor: pointer;
}


.icon-new-window::before {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 2px;
  top: -1px;
}


main .icon-arrows {
  margin-top: 2rem;
}
