
//====================================================================================================
// DEFAULT CONTENT STYLES
//====================================================================================================

.content {
	padding-top: 5rem;
		
    @media (min-width: $breakpoint-md-min) {
        padding-top: 11rem;
    }

    @media (min-width: $breakpoint-xxl-min) {
        padding-top: 16rem;
    }
}



//====================================================================================================
// CONTEXT-SPECIFIC OVERRIDES
//====================================================================================================

.tertiary {
	.content {
		padding: 12rem 0 5.5rem;
		
        @media (min-width: $breakpoint-md-min) {
    		> .container {
    			position: relative;
    			top: 49%;
    			transform: translateY(-50%);
    		}
    	}
	}
}

// DEPRECATE
main {
    .icon-arrows {
        margin-top: 2rem;
    }

    .icon-new-window::before {
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 2px;
        top: -1px;
    }
}
