
//====================================================================================================
// DEFAULT FOOTER STYLES
//====================================================================================================

.footer {
	background-color: $background-color-footer;
	flex-shrink: 0; // For bottom-sticky footer
	padding: 2.5rem 0 4rem;
	width: 100%;

	@media (min-width: $breakpoint-md-min) {
		padding: 3.5rem 0 7.5rem;
	}

	p {
		color: $color-footer;
		font-family: $font-family-footer;
		font-size: $font-size-footer;
		font-weight: $font-weight-footer;
		margin: 1rem 0 0;

    	@media (min-width: $breakpoint-md-min) {
    		margin-top: 4rem;
    	}
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
 
	&__item {
		margin: 1rem -0.5rem 0;
		padding: 0 0.5rem;

		&::before {
			display: none;
		}
	}

	&__link {
		color: $color-footer-link !important;
		font-family: $font-family-footer-link;
		font-size: $font-size-footer-link;
		font-weight: $font-weight-footer-link;

		&::after {
			background: $color-footer-link;
		}
	}
	
	&__copyright {
		a {
			color: $color-footer !important;
			cursor: auto;
			display: inline;
			font-family: $font-family-footer;
			font-size: $font-size-footer !important;
			font-weight: $font-weight-footer !important;

			&::after {
				background: none !important;
			}
		}
	}
	
	&__border {
		border: none;
		border-bottom: $border-width-footer $border-style $border-color-footer;
		
		// DPR media queries for consistent thickness of lines
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)     { border-bottom-width: calc(#{$border-width-footer} * 0.5); }       // 2 DPR (Retina)
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)   { border-bottom-width: calc(#{$border-width-footer} * 0.6666667); } // 1.5 DPR
		@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) { border-bottom-width: calc(#{$border-width-footer} * 0.769231); }  // 1.3 DPR
		@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)  { border-bottom-width: calc(#{$border-width-footer} * 0.8); }       // 1.25 DPR
	}
}



//====================================================================================================
// MAILCHIMP SIGN-UP FORM OVERRIDES
//====================================================================================================

#mc_embed_signup {
	.mc-field-group {
		position: relative;
	}

	label {
		left: -9999px;
		position: absolute;
	}

	input {
		background-color: transparent;
		border: none;
		border-bottom: $border-width-input solid $border-color-input-night;
		color: $color-footer-link;
		font-family: $font-family-footer-link;
		font-size: calc(#{$font-size-lg} * #{$h2-scale});
		font-weight: $font-weight-h2;
		height: auto;
		line-height: normal;
		padding: 0.3rem 0;
		transition: border-bottom-color $transition-duration $transition-function;
		width: 100%;

		@media (max-width: 400px) { font-size: calc(#{$font-size-lg} * 1.75); }
		@media (max-width: 300px) { font-size: calc(#{$font-size-lg} * 1.5); }

		// DPR media queries for consistent thickness of lines
    	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)     { border-bottom-width: calc(#{$border-width-input} * 0.5); }       // 2 DPR (Retina)
    	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)   { border-bottom-width: calc(#{$border-width-input} * 0.6666667); } // 1.5 DPR
    	@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) { border-bottom-width: calc(#{$border-width-input} * 0.769231); }  // 1.3 DPR
    	@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)  { border-bottom-width: calc(#{$border-width-input} * 0.8); }       // 1.25 DPR

		&:focus {
			outline: none;
			border-color: $color-highlight;
			
    		+ .form__focus-line {
				background-color: $color-highlight;
			}
		}

		&.mce_inline_error {
			border-color: $color-error-night !important;
			
			+ .form__focus-line {
				background-color: $color-error-night;
			}
		}

		&::-webkit-input-placeholder { color: $color-placeholder-night; }             // Chrome, Edge, Opera, Safari
		&::-moz-placeholder          { color: $color-placeholder-night; opacity: 1; } // Firefox 19+
		&:-ms-input-placeholder      { color: $color-placeholder-night; }             // IE 10+
		&:-moz-placeholder           { color: $color-placeholder-night; opacity: 1; } // Firefox 18-
	}

	div.mce_inline_error {
		background-color: transparent !important;
		color: $color-error !important;
		font-size: $font-size-error;
		font-weight: $font-weight-link !important;
		margin: 0 !important;
		padding: 0.2rem 0 0 !important;
	}

	button { // Default button overrides - font-size and chevron position adjustments
	    font-size: $font-size-sm !important;
		margin: 1rem -0.2rem 0;
		padding: 0 0.2rem;
		position: relative;

		&::before {
			bottom: 0.6rem !important;
			font-size: calc(#{$font-size-button-sm} * 0.75) !important;
			right: -1.3rem !important;
		}

		&:hover::before {
			right: -2.3rem !important;
		}
	}
}



//====================================================================================================
// NIGHT MODE OVERRIDES
//====================================================================================================

.night-mode {
	.footer {
		&__border {
			border-bottom-color: $border-color-footer-night;
		}
	}
}
