
//====================================================================================================
// DEFAULT STYLES
//====================================================================================================

html {
	font-size: $font-size-html;
}

body {
	color: $color-body;
	font-family: $font-family-body;
	font-weight: $font-weight-body;
	line-height: $line-height-body;
	-webkit-text-size-adjust: 100%; // Fix for iOS
}

h1 { 
	font-family: $font-family-heading;
	font-size: calc(#{$font-size-sm} * #{$h1-scale});
	font-weight: $font-weight-h1;
	line-height: $line-height-h1;
	margin: 0 0 $font-size-sm;

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h1-scale});
    	margin: 0 0 $font-size-lg;
	}

	&+ h2 {
    	color: $color-body-alt !important;
	}
}

h2 {
	font-family: $font-family-heading;
	font-size: calc(#{$font-size-sm} * #{$h2-scale});
	font-weight: $font-weight-h2;
	line-height: $line-height-h2;
	margin: 0 0 $font-size-sm;

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h2-scale});
    	margin: 0 0 $font-size-lg;
	}
}

h3 {
	font-family: $font-family-heading;
	font-size: calc(#{$font-size-sm} * #{$h3-scale});
	font-weight: $font-weight-h3;
	line-height: $line-height-h3;
	margin: 0 0 calc(#{$font-size-sm} / 2);

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h3-scale});
    	margin: 0 0 calc(#{$font-size-lg} / 2);
	}
}

h4 {
	font-size: calc(#{$font-size-sm} * #{$h4-scale});
	font-weight: $font-weight-h4;

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h4-scale});
	}
}

h5 {
	font-size: calc(#{$font-size-sm} * #{$h5-scale});
	font-weight: $font-weight-h5;

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h5-scale});
	}
}

h6 {
	font-size: calc(#{$font-size-sm} * #{$h6-scale});
	font-weight: $font-weight-h6;

	@media (min-width: $breakpoint-md-min) {
		font-size: calc(#{$font-size-lg} * #{$h6-scale});
	}
}

p, ol, ul {
	font-size: $font-size-sm;
	margin-bottom: $font-size-sm;

	@media (min-width: $breakpoint-md-min) {
		font-size: $font-size-lg;
		margin-bottom: $font-size-lg;
	}
}

label, .small {
	font-size: $font-size-xs;
}

blockquote {
	text-align: center;

	p {
		color: $color-blockquote;
		font-family: $font-family-blockquote;
		font-size: calc(#{$font-size-sm} * #{$bq-scale});
		font-style: normal;
		font-weight: normal;
	    line-height: $line-height-blockquote;

		@media (min-width: $breakpoint-md-min) {
			font-size: calc(#{$font-size-lg} * #{$bq-scale});
		}
	}

	cite {
		color: $color-body-alt;
		display: block;
		font-size: $font-size-xs;
		font-style: normal;
		font-weight: $font-weight-body;

		@media (min-width: $breakpoint-md-min) {
			margin-top: $font-size-xs;
		}
	}
}

strong,
.emphasis {
	font-weight: $font-weight-strong;
}



//====================================================================================================
// NIGHT MODE OVERRIDES
//====================================================================================================

.night-mode {
    body {
    	color: $color-body-night;
    }

    blockquote {
    	p {
	    	color: $color-blockquote-night;
    	}
    	
		cite {
    		color: $color-body-alt-night;
		}
    }
}



//====================================================================================================
// CONTEXT-SPECIFIC OVERRIDES
//====================================================================================================

// Use 'major third' typographic scale for smartphones
@media (max-width: 450px) {
    h1 { font-size: calc(#{$font-size-sm} * 2.441); }
    h2 { font-size: calc(#{$font-size-sm} * 1.563); }
    h3 { font-size: calc(#{$font-size-sm} * 1.25); }
    h4 { font-size: calc(#{$font-size-sm} * 1); }
    h5 { font-size: calc(#{$font-size-sm} * 0.8); }
    h6 { font-size: calc(#{$font-size-sm} * 0.64); }
    blockquote p { font-size: calc(#{$font-size-sm} * 1.25); }
}
