
//====================================================================================================
// DEFAULT BROSWE HAPPY STYLES
//====================================================================================================

.browsehappy {
	background-color: $color-highlight;
	display: block;
	max-width: 100vw;
	padding: 1.5rem 0;
	position: fixed;
	text-align: center;
	top: height-header;
	width: 100%;
	z-index: $z-index-browse-happy;

	p {
		color: $white;

		a {
			color: $white;
		}
	}
}
