
//====================================================================================================
// DEFAULT BUTTON STYLES
//====================================================================================================

// Buttons use same underline style as links but with a chevron arrow

button,
.button,
.cc-btn {
    background-color: transparent;
    border: none;
    position: relative;

	@include hover-effect-chevron-lrl; // Hover effect arrow using ::before pseudo class
}

/*button,
.button {
	background-color: $background-button;
	border-bottom: $border-button;
	border-radius: $border-radius-button;
    color: $color-button;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-button;
	font-size: $font-size-button-sm;
	font-weight: $font-weight-button;
	height: $height-button;
	line-height: $line-height-button;
	margin: $margin-button;
	padding: $padding-button;
	position: relative;
	text-decoration: none;
	white-space: nowrap;

	@media (min-width: $breakpoint-md-min) {
		font-size: $font-size-button-lg;
	}
	
	&:hover {
    	background-color: $background-button-hover;
    	border-bottom: $border-button-hover;
    	color: $color-button-hover;
	}

	&.secondary {
    	background-color: $background-button-sec;
    	border: $border-button-sec;
    	color: $color-button-sec;

    	&:hover {
        	background-color: $background-button-sec-hover;
        	border: $border-button-sec-hover;
        	color: $color-button-sec-hover;
    	}
	}

	&.tertiary {
    	background-color: $background-button-ter;
    	border: $border-button-ter;
    	color: $color-button-ter;

    	&:hover {
        	background-color: $background-button-ter-hover;
        	border: $border-button-ter-hover;
        	color: $color-button-ter-hover;
    	}
	}
}*/



/*====================================================================================================
// NIGHT MODE OVERRIDES
//====================================================================================================

.night-mode {
    .button
    button {
        background-color: $background-button-night;
        border-bottom: $border-button-night;
        color: $color-button-night;
        
        &:hover {
            background-color: $background-button-hover-night;
            border-bottom: $border-button-hover-night;
            color: $color-button-hover-night;
        }

        /*&.secondary {
            background-color: $background-button-sec-night;
            border-bottom: $border-button-sec-night;
            color: $color-button-sec-night;

            &:hover {
                background-color: $background-button-sec-hover-night;
                border-bottom: $border-button-sec-hover-night;
                color: $color-button-sec-hover-night;
            }
        }

        &.tertiary {
            background-color: $background-button-ter-night;
            border-bottom: $border-button-ter-night;
            color: $color-button-ter-night;

            &:hover {
                background-color: $background-button-ter-hover-night;
                border-bottom: $border-button-ter-hover-night;
                color: $color-button-ter-hover-night;
            }
        }
    }
}*/
