
//====================================================================================================
// DEFAULT LINK STYLES
//====================================================================================================

a,
button,
.button {
	color: $color-link;
	cursor: pointer;
	display: inline-block;
	font: $font-weight-link $font-size-link-sm $font-family-link;
	text-decoration: none;

	@media (min-width: $breakpoint-md-min) {
		font-size: $font-size-link-lg;
	}	

	@include hover-effect-underline-lrl; // Hover effect underline using ::after pseudo class
}



//====================================================================================================
// NIGHT MODE OVERRIDES
//====================================================================================================

.night-mode {
    a,
    button,
    .button {
    	color: $color-link-night;
    }
}
