
//====================================================================================================
// DEFAULT LIST STYLES
//====================================================================================================

main { // To avoid conflicts with nav and footer lists
	ul {
		line-height: $line-height-body;
		list-style: none;
	
		li {
			margin-left: $font-size-sm;
	
			@media (min-width: $breakpoint-md-min) {
				margin-left: $font-size-lg;
			}
					
			&:not(:last-child) {
				margin-bottom: 0;
			}
    
			&::before {
				color: $color-highlight;
				content: '\2022';
				font-size: calc(#{$font-size-sm} * 1.75);
				line-height: $font-size-sm;
				margin-left: -$font-size-sm;
				padding-right: calc(#{$font-size-sm} / 2);
				position: relative;
				top: calc(#{$font-size-sm} / 3);
    
				@media (min-width: $breakpoint-md-min) {
					font-size: calc(#{$font-size-lg} * 1.75);
					line-height: $font-size-lg;
					margin-left: -$font-size-lg;
					padding-right: calc(#{$font-size-lg} / 2);
					top: calc(#{$font-size-lg} / 3);
				}
			}
		}
	}
    
	ol {
		counter-reset: li;
		line-height: $line-height-body;
		list-style: none;
    
		li {
			counter-increment: li;
			margin-left: calc(#{$font-size-sm} * 1.5);
    
			@media (min-width: $breakpoint-md-min) {
				margin-left: calc(#{$font-size-lg} * 1.5);
			}
    
			&::before {
				color: $color-highlight;
				content: counter(li) ".";
				display: inline-block;
				font-weight: normal;
				margin-left: calc(#{$font-size-sm} * -1.5);
				width: calc(#{$font-size-sm} * 1.5);
    
				@media (min-width: $breakpoint-md-min) {
					margin-left: calc(#{$font-size-lg} * -1.5);
					width: calc(#{$font-size-lg} * 1.5);
				}
			}
		}
	}
}


//====================================================================================================
// CONTEXT-SPECIFIC OVERRIDES
//====================================================================================================

ol.terms {
	li {
		margin-bottom: $font-size-sm;

		@media (min-width: $breakpoint-md-min) {
			margin-bottom: $font-size-lg;
		}
	}
}

.timeline-content {
	ul {
  	margin-top: 1.7rem;

		li:last-of-type {
			margin-bottom: 0;
		}
	}
}
