/*----------------------------------------------------------
	DARK MODE ICON DEFAULT STYLES
----------------------------------------------------------*/

#night-icon {
	height: 3.8rem;
	position: absolute;
	right: 62px;
	top: 18px;
	width: 3.8rem;

	a {
		padding: 1rem 1.1rem 0.85rem;
		position: absolute;
	}

	svg {
		height: 1.6rem;
		width: 1.6rem;
	}
}



/*----------------------------------------------------------
	DARK MODE STYLE CHANGES
----------------------------------------------------------*/

.night-mode {

	// DARK MODE ICON
	#night-icon {
		path {
			fill: $orange;
		}
	}

	// CONTENT SECTION
	.content {

		// Divider lines
		hr {
			border-top-color: $border-color-footer;
		}

		// Tooltips
		.tooltip {
			strong {
				color: $color-strong;
			}
		}

		// Contact form
		input:not([type=submit]),
		input:not([type=checkbox]),
		textarea {
			background-color: $background-color-footer;
			border-bottom-color: $border-color-footer;
			color: $white;
		}

		// Tables
		table.cookie th,
		table.cookie td {
			border-color: $border-color-footer;
		}
	}

	// BLOG ELEMENTS
	.post-summary {
		background-color: $background-color-footer;
		border-bottom-color: $border-color-footer;
	}




	// Text to change to white
	body,
	h1,
	h2,
	h3,
	h4,
	.small,
	.quip-fld p,
	img,
	cite,
	strong,
	.emphasis,
	table.cookie th p {
		color: $white;
	}
}



/*----------------------------------------------------------
	STYLES FOR SPECIFIC SCREEN SIZES
----------------------------------------------------------*/

@media (min-width: 600px) and (min-height: 600px) {
	#night-icon {
		right: 82px;
		top: 26px;
	}
}
@media (min-width: 768px) {
	#night-icon {
		right: 29px;
	}
}
