
//====================================================================================================
// DEFAULT SCROLL-DOWN STYLES
//====================================================================================================

.scroll-down {
	bottom: 1rem;
	display: none;
	font-size: 0;
	height: 5rem;
	position: absolute;
	left: 1rem;
	width: 5rem;

	@media (min-width: $breakpoint-md-min) {
		bottom: 3rem;
		left: 3rem;
	}

	&::after {
		display: none;
	}

	.arrow {
		animation: bounceDown 1s $transition-function 0.5s infinite alternate;
		//transition: all $transition-duration $transition-function;
	}

	&:hover {
		.arrow {
		    animation-play-state: paused;
		    //fill: $color-link;
			//stroke: $color-link;
		}
	}
}



//====================================================================================================
// NIGHT MODE OVERRIDES
//====================================================================================================

/*.night-mode {
    .back-to-top {
		.arrow {
			fill: $color-link-night;
			stroke: $color-link-night;
		}
    }
}*/
