/*----------------------------------------------------------
	DEFAULT STYLES
----------------------------------------------------------*/

#timeline {
  width: 100%;
  margin: 5px auto 55px;
  position: relative;

	&::before {
		content: "";
		width: 2px;
		height: calc(99% - 16px);
		background: $color-highlight;
		left: 50%;
		top: 16px;
		position: absolute;
	}

	&::after {
		clear: both;
		content: "";
		display: table;
		width: 100%;
	}

	.timeline-item {
		margin-bottom: 60px;
		position: relative;

		&:last-child {
			background-color: $white;
			margin-bottom: 0;
		}

		.timeline-icon {
			background: $white;
			height: 100px;
			left: 50%;
			margin-left: -30px;
			overflow: hidden;
			padding-top: 20px;
			position: absolute;
			text-align: center;
			top: -10px;
			width: 60px;

			img {
  			margin: 0;
			}
		}

		.timeline-dotted-line {
			border-left: 5px dotted $white;
			height: 100%;
			left: calc(50% - 2px);
			position: absolute;
			top: 75px;
			width: 0;
		}

		.timeline-content {
			background: $background-color-panel;
			border: 1px solid $background-color-panel;
			border-right-color: $border-color;
			padding: 20px 25px 25px;
			width: calc(50% - 65px);

			&::before,
			&::after {
				border-bottom: 15px solid transparent;
				border-top: 15px solid transparent;
				content: '';
				display: inline-block;
				height: 0;
				position: absolute;
				top: 25px;
				width: 0;
			}

			&::before {
				border-left: 15px solid $border-color;
				left: calc(50% - 65px);
			}
				
			&::after {
				border-left: 15px solid $background-color-panel;
				left: calc(50% - 66.5px);
			}

			&.right {
				border-left-color: $border-color;
				border-right: none;
				float: right;
				text-align: left;

				&::before,
				&::after {
					border-bottom: 15px solid transparent;
					border-left: 0;
					border-top: 15px solid transparent;
					content: '';
					display: inline-block;
					height: 0;
					left: inherit;
					position: absolute;
					top: 25px;
					width: 0;
				}

				&::before {
					border-right: 15px solid $border-color;
					right: calc(50% - 65px);
				}

				&::after {
					border-right: 15px solid $background-color-panel;
					right: calc(50% - 66.5px);
				}
			}
		}
	}
}

.night-mode { 
	#timeline {
		.timeline-item {
			&:last-child {
				background-color: $background-color-panel-night;
			}

			.timeline-icon {
				background: $background-color-footer-night;
			}

			.timeline-content {
				background: $background-color-panel-night;
				border-color: $background-color-panel-night;
				border-right-color: $border-color-night;

				&::before {
					border-left-color: $border-color-night;
				}

				&::after {
					border-left-color: $background-color-panel-night;
				}

				&.right {
					border-left-color: $border-color-night;

					&::before {
						border-right-color: $background-color-panel-night;
					}

					&::after {
						border-right-color: $background-color-panel-night;
					}
				}
			}
		}
	}
}



/*----------------------------------------------------------
	STYLES FOR SPECIFIC SCREEN SIZES
----------------------------------------------------------*/

@media screen and (max-width: 899px) {
  #timeline {
    width: 100%;
 
  	&::before {
    	left: 40px;
  	}

  	.timeline-item {
    	margin-bottom: 50px;

 			.timeline-dotted-line {
    		left: calc(40px - 2px);
  		}

  		.timeline-content {
				border-left: 1px solid $border-color;
				border-right: none;
				float: right;
				width: calc(100% - 115px);

				&::before,
				&.right::before {
					right: calc(100% - 115px);
					left: inherit;
					border-left: 0;
					border-right: 15px solid $border-color;
				}

				&::after,
				&.right::after {
					right: calc(100% - 116.5px);
					left: inherit;
					border-left: 0;
					border-right: 15px solid $border-color;
				}
			}

  		.timeline-icon {
    		left: 40px;
			}
		}
	}
	
	.night-mode { 
		#timeline {
			.timeline-item {
				.timeline-content {
					border-left-color: $border-color;

					&::before,
					&.right::before {
						border-right-color: $border-color;
					}

					&::after,
					&.right::after {
						border-right-color: $background-color-footer;		
					}
				}
			}
		}
	}
}

@media screen and (max-width: 599px) {
  #timeline {
		.timeline-item {
			.timeline-content {
				width: calc(100% - 105px);

				&::before,
				&.right::before {
					right: calc(100% - 105px);
				}

				&::after,
				&.right::after {
					right: calc(100% - 106.5px);
				}
			}
		}
	}
}
