/*------------------------------------------------------------
	DEFAULT STYLES
------------------------------------------------------------*/

.tooltip {
	background-color: $background-color-panel;
	border: 1px solid $background-color-panel;
	border-bottom-color: $border-color;
	bottom: calc(100% + 42px);
	color: $color-body;
	cursor: default;
	font-size: $font-size-small;
	font-weight: $font-weight-small;
	left: 50%;
	line-height: 1.5;
	opacity: 0;
	padding: 9px 12px;
	position: absolute;
	text-shadow: none;
	transform: translateX(-50%);
	transition: 0.1s;
	visibility: hidden;
	width: 100%;
	z-index: 90;

	&::before,
	&::after {
		border: 12px solid transparent;
		border-top-color: $border-color;
		bottom: -24px;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -12px;
		position: absolute;
		width: 0;
	}

	&::after {
		border-top-color: $background-color-panel;
		bottom: -22.5px;
	}

	&.tooltip__cert {
		padding: 5px;
		width: auto;

		img {
			margin: 0 !important;
		}
	}
}

.features .quality .tooltip {
  bottom: auto;
  padding: 5px;
  top: -88px;
  width: auto;
}

.small {
	position: relative;

	.tooltip {
		bottom: 38px;
	}
}

form .mc-tooltip-group {
  position: relative;
}

form .mc-tooltip-group .tooltip {
  bottom: 67px;
  max-width: 427px;
}




form.jotform-form {
	.tooltip {
		background-color: $background-color-footer;
		border: 1px solid $background-color-footer;
		border-bottom-color: $border-color-footer;
		bottom: 87px;
		color: $white;
		max-width: 401px;

		&::before {
			border-top-color: $border-color-footer;
		}

		&::after {
			border-top-color: $background-color-footer;
		}
	}

	#input_5 ~ .tooltip {
  	max-width: 398px;
	}
}

*:not(.on-focus):hover>.tooltip,.on-focus input:focus+.tooltip {
  opacity: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  visibility: visible;
}

.night-mode {
	form.jotform-form {
		.tooltip {
			background-color: $background-color-panel;
			border: 1px solid $background-color-panel;
			border-bottom-color: $border-color;
			color: $color-body;

			&::before {
				border-top-color: $border-color;
			}

			&::after {
				border-top-color: $background-color-panel;
			}
		}
	}
}
